.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
}

.game-cell {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    margin-bottom: 5px;
    cursor: pointer;
}